In [1]:
import json
import pandas as pd

In [2]:
with open('data.json', 'r') as f:
    data = json.load(f)

In [3]:
l_json = list(map(json.loads, data))

In [4]:
df = pd.DataFrame(l_json).fillna(0.0)

In [5]:
df.head()

,Flush,Four of a Kind,Full House,High Card,Pair,Royal Flush,Straight,Straight Flush,Three of a Kind,Two Pair
0,0.00216,0.00019,0.00138,0.50098,0.42331,0.00000,0.00390,0.00000,0.02093,0.04715
1,0.00192,0.00024,0.00127,0.50052,0.42349,0.00000,0.00365,0.00002,0.02084,0.04805
2,0.00187,0.00020,0.00138,0.50085,0.42322,0.00000,0.00399,0.00000,0.02114,0.04735
3,0.00194,0.00026,0.00129,0.50075,0.42346,0.00000,0.00376,0.00002,0.02086,0.04766
4,0.00217,0.00026,0.00136,0.50054,0.42258,0.00001,0.00370,0.00001,0.02140,0.04797

In [6]:
import numpy as np
import scipy.stats as st


def mean_confidence_interval(df, col, confidence=0.95):
    a = 1.0 * np.array(df[col])
    n = len(a)
    return (col, np.mean(a), st.t.interval(0.95, len(a)-1,
                                           loc=np.nanmean(a), scale=st.sem(a)))

In [7]:
results = []

for col in df.columns:
    results.append(mean_confidence_interval(df, col))

In [8]:
from tabulate import tabulate

In [9]:
print(tabulate(results, headers=['Poker Hand', 'mean', 'confidence interval']))

Poker Hand             mean  confidence interval
---------------  ----------  ------------------------------------------------
Flush            0.00196917  (0.0019606693740965102, 0.00197767062590349)
Four of a Kind   0.00023912  (0.00023619654254508157, 0.00024204345745491843)
Full House       0.00143936  (0.0014321630900070786, 0.0014465569099929214)
High Card        0.501223    (0.5011272274490839, 0.5013180325509161)
Pair             0.422562    (0.42246689998281994, 0.42265790001718007)
Royal Flush      1.55e-06    (1.313604941231858e-06, 1.7863950587681424e-06)
Straight         0.00392786  (0.0039159069202801735, 0.003939813079719827)
Straight Flush   1.376e-05   (1.3037394573442739e-05, 1.4482605426557266e-05)
Three of a Kind  0.0211085   (0.02108059159496706, 0.02113638840503294)
Two Pair         0.0475157   (0.04747449464894366, 0.04755682535105633)

In [11]:
df_results = pd.DataFrame.from_records(results, columns=['Poker Hand', 'mean', 'confidence interval'])

In [12]:
df_results

        Poker Hand      mean                               confidence interval
0            Flush  0.001969      (0.0019606693740965102, 0.00197767062590349)
1   Four of a Kind  0.000239  (0.00023619654254508157, 0.00024204345745491843)
2       Full House  0.001439    (0.0014321630900070786, 0.0014465569099929214)
3        High Card  0.501223          (0.5011272274490839, 0.5013180325509161)
4             Pair  0.422562        (0.42246689998281994, 0.42265790001718007)
5      Royal Flush  0.000002   (1.313604941231858e-06, 1.7863950587681424e-06)
6         Straight  0.003928     (0.0039159069202801735, 0.003939813079719827)
7   Straight Flush  0.000014  (1.3037394573442739e-05, 1.4482605426557266e-05)
8  Three of a Kind  0.021108        (0.02108059159496706, 0.02113638840503294)
9         Two Pair  0.047516        (0.04747449464894366, 0.04755682535105633)

In [13]:
df_results.to_json(orient='records')

'[{"Poker Hand":"Flush","mean":0.00196917,"confidence interval":[0.0019606694,0.0019776706]},{"Poker Hand":"Four of a Kind","mean":0.00023912,"confidence interval":[0.0002361965,0.0002420435]},{"Poker Hand":"Full House","mean":0.00143936,"confidence interval":[0.0014321631,0.0014465569]},{"Poker Hand":"High Card","mean":0.50122263,"confidence interval":[0.5011272274,0.5013180326]},{"Poker Hand":"Pair","mean":0.4225624,"confidence interval":[0.4224669,0.4226579]},{"Poker Hand":"Royal Flush","mean":0.00000155,"confidence interval":[0.0000013136,0.0000017864]},{"Poker Hand":"Straight","mean":0.00392786,"confidence interval":[0.0039159069,0.0039398131]},{"Poker Hand":"Straight Flush","mean":0.00001376,"confidence interval":[0.0000130374,0.0000144826]},{"Poker Hand":"Three of a Kind","mean":0.02110849,"confidence interval":[0.0210805916,0.0211363884]},{"Poker Hand":"Two Pair","mean":0.04751566,"confidence interval":[0.0474744946,0.0475568254]}]'